In [2]:
import pandas as pd

ratings_df = pd.read_csv('data/ratings_movies.csv')
ratings_df.head()

,Unnamed: 0,userId,movieId,rating,date,title,genres
0,0,1,1,4.0,2000-07-30 18:45:03,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men (1995),Comedy|Romance
2,2,1,6,4.0,2000-07-30 18:37:04,Heat (1995),Action|Crime|Thriller
3,3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [5]:
#библиотека для регулярных выражений
import re 
def get_year_release(arg):
    #находим все слова по шаблону "(DDDD)"
    candidates = re.findall(r'\(\d{4}\)', arg) 
    # проверяем число вхождений
    if len(candidates) > 0:
        #если число вхождений больше 0,
	#очищаем строку от знаков "(" и ")"
        year = candidates[0].replace('(', '')
        year = year.replace(')', '')
        return int(year)
    else:
        #если год не указан, возвращаем None
        return None

In [13]:
# 8.1
# Создайте в таблице новый признак year_release, который соответствует году выпуска фильма.
# У скольких фильмов не указан год их выпуска?
ratings_df['year_release'] = ratings_df['title'].apply(get_year_release)
#ratings_df['year_release'] = ratings_df['year_release'].astype('int64')
#print(int(ratings_df['year_release'][0]))

In [16]:
print(ratings_df['year_release'].count())
ratings_df.info()

100818
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    100836 non-null  int64
 1   userId        100836 non-null  int64
 2   movieId       100836 non-null  int64
 3   rating        100836 non-null  float64
 4   date          100836 non-null  object
 5   title         100836 non-null  object
 6   genres        100836 non-null  object
 7   year_release  100818 non-null  float64
dtypes: float64(2), int64(3), object(3)
memory usage: 6.2+ MB

In [28]:
# 8.2
# Какой фильм, выпущенный в 1999 году, получил наименьшую среднюю оценку зрителей?
#В качестве ответа запишите название этого фильма без указания года его выпуска.
mask = ratings_df['year_release'] == 1999.0
group_rating = ratings_df[mask].groupby(['title'])['rating'].mean().idxmin()
#group_rating = ratings_df[mask].groupby(['title'])['rating'].mean().sort_values()
display(group_rating)

# Bloodsport: The Dark Kumite

'Bloodsport: The Dark Kumite (1999)'

In [29]:
# 8.3
# Какое сочетание жанров фильмов (genres), выпущенных в 2010 году, 
# получило наименьшую среднюю оценку (rating)?
# Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

mask = ratings_df['year_release'] == 2010.0
group_rating = ratings_df[mask].groupby(['genres'])['rating'].mean().idxmin()
display(group_rating)

# Action|Sci-Fi

'Action|Sci-Fi'

In [34]:
# 8.4
# Какой пользователь (userId) посмотрел наибольшее количество 
# различных (уникальных) жанров (genres) фильмов? 
# В качестве ответа запишите идентификатор этого пользователя.

group_rating = ratings_df.groupby(['userId'])['genres'].nunique().idxmax()
display(group_rating)

# 599

599

In [41]:
# 8.5
# Найдите пользователя, который выставил наименьшее количество оценок, 
# но его средняя оценка фильмам наибольшая.
# В качестве ответа укажите идентификатор этого пользователя.

group_rating = ratings_df.groupby(by = 'userId')['rating'].agg(
    ['count', 'mean']
).sort_values(by = ['count', 'mean'], ascending= [True, False])
display(group_rating)

# 53

        count      mean
userId
53         20  5.000000
595        20  4.200000
189        20  4.100000
569        20  4.000000
278        20  3.875000
...       ...       ...
274      1346  3.235884
448      1864  2.847371
474      2108  3.398956
599      2478  2.642050
414      2698  3.391957

[610 rows x 2 columns]

In [40]:
# 8.6
# Найдите сочетание жанров (genres) за 2018 году, которое имеет наибольший средний рейтинг 
# (среднее по столбцу rating), и при этом число выставленных ему оценок 
# (количество значений в столбце rating) больше 10.
# Запишите сочетание так же, как оно указано в таблице (через разделитель |, без пробелов).

mask = ratings_df['year_release'] == 2018.0
group_rating = ratings_df[mask].groupby('genres')['rating'].agg(
    ['mean', 'count']
).sort_values(by = ['count', 'mean'], ascending= [False, False])
display(group_rating)

# Action|Adventure|Sci-Fi

                                            mean  count
genres
Action|Adventure|Sci-Fi                 3.928571     14
Action|Comedy|Sci-Fi                    3.875000     12
Comedy                                  3.312500      8
Action|Adventure|Children|Sci-Fi        3.900000      5
Animation|Comedy                        3.500000      5
Action|Adventure|Animation|Children     3.000000      4
Drama|Horror|Thriller                   2.750000      4
Action|Adventure|Fantasy                2.500000      4
Adventure|Mystery|Sci-Fi|Thriller       3.833333      3
Action|Adventure|Comedy|Fantasy|Sci-Fi  3.666667      3
Documentary                             4.000000      2
Action|Adventure|Thriller               3.750000      2
Action|Adventure|Drama|Sci-Fi|Thriller  3.250000      2
Comedy|Drama                            3.250000      2
Action|Fantasy|Sci-Fi                   2.750000      2
Horror|Mystery|Sci-Fi|Thriller          2.250000      2
Adventure|Comedy|Fantasy                4.500000      1
Adventure|Thriller                      4.500000      1
Comedy|Fantasy|Sci-Fi                   4.500000      1
Comedy|Romance                          4.500000      1
Action|Comedy|Crime|Horror              4.000000      1
Action|Crime|Drama|Thriller             4.000000      1
Action|Animation                        3.500000      1
Action|Mystery|Sci-Fi|Thriller          3.500000      1
Crime|Drama                             3.500000      1
Horror|Mystery|Thriller                 3.500000      1
Sci-Fi|Thriller                         3.500000      1
Action|Comedy                           3.000000      1
Adventure|Children|Fantasy|Sci-Fi       3.000000      1
Action|Crime|Thriller                   2.500000      1
Comedy|Crime|Drama                      2.500000      1
Drama|Fantasy|Thriller                  2.000000      1
Crime|Drama|Mystery|Thriller            1.500000      1

In [71]:
# 8.7
# Добавьте в таблицу новый признак year_rating — год выставления оценки. 
# Создайте сводную таблицу, которая иллюстрирует зависимость среднего рейтинга фильма 
# от года выставления оценки и жанра. 

ratings_df['date'] = pd.to_datetime(ratings_df['date'])
ratings_df['year_rating'] = ratings_df['date'].dt.year
pivot = ratings_df.pivot_table(
    values = 'rating',
    index = 'genres',
    columns = 'year_rating',
    aggfunc= 'mean'
)

display(pivot.loc['Action|Adventure'].min()) # минимальная оценка жанра Action|Adventure

display(pivot.loc['Action|Adventure|Animation|Children|Comedy|IMAX'].max()) # максимальная оценка жанра Action|Adventure|Animation|Children|Comedy|IMAX
display(pivot.loc['Action|Adventure|Animation|Children|Comedy|IMAX'][2010]) # смотрим, была ли в 2010 году максимальная оценка

display(pivot[2018].sort_values(ascending= False).head(30))
display(pivot.loc['Comedy'])

3.2777777777777777

5.0

3.5

genres
Animation|Comedy|Drama                            5.00
Crime|Mystery                                     5.00
Comedy|Crime|Fantasy                              5.00
Crime|Fantasy|Horror                              5.00
Comedy|Crime|Horror|Thriller                      5.00
Animation|Crime|Drama                             5.00
Drama|Romance|War                                 5.00
Action|Comedy|Documentary                         5.00
Animation|Comedy|Fantasy|Musical                  5.00
Animation|Comedy|Drama|Fantasy|Sci-Fi             5.00
Comedy|Drama|Fantasy|Mystery|Romance              5.00
Animation|Children|Mystery                        5.00
Drama|Horror|Mystery|Sci-Fi|Thriller              5.00
Adventure|Children|Comedy|Fantasy|Mystery         5.00
Comedy|Fantasy|Horror|Musical|Thriller            5.00
Romance|Sci-Fi                                    5.00
Mystery|Romance|Sci-Fi|Thriller                   5.00
Adventure|Fantasy|Musical                         5.00
Action|Crime|Thriller|Western                     5.00
Action|Crime|Sci-Fi|Thriller                      5.00
Comedy|Horror|Mystery                             5.00
Drama|Fantasy|Romance|Sci-Fi                      4.75
Comedy|Drama|Mystery                              4.75
Comedy|Drama|Horror                               4.75
Action|Adventure|War                              4.50
Adventure|Animation|Fantasy|Romance               4.50
Comedy|Romance|Thriller                           4.50
Adventure|Animation|Romance                       4.50
Action|Adventure|Mystery|Romance|Thriller         4.50
Action|Adventure|Comedy|Drama|Fantasy|Thriller    4.50
Name: 2018, dtype: float64

year_rating
1996    3.228571
1997    3.409091
1998    3.000000
1999    3.606061
2000    3.141291
2001    3.318408
2002    3.198556
2003    3.120066
2004    3.356877
2005    2.963325
2006    3.347534
2007    2.928187
2008    3.426667
2009    3.273292
2010    3.179825
2011    3.232877
2012    3.478477
2013    3.489474
2014    3.271429
2015    3.106183
2016    3.373431
2017    2.852668
2018    3.121296
Name: Comedy, dtype: float64

In [89]:
# Дано два файла:

# orders.csv, содержащий данные о заказах;
# products.csv, содержащий данные о товарах.

orders = pd.read_csv('data/orders.csv', sep= ';')
products = pd.read_csv('data/products.csv', sep= ';')

display(orders)
display(products)

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1

    Product_ID                                   Name  Price CURRENCY
0           47                   Шатны Полосатый рейс   2999      RUR
1           51               Платье Аленький цветочек   4999      RUR
2           53                 Штаны Цветочная Поляна   4999      RUR
3           71                    Платье Ночная Жизнь   7999      RUR
4           74               Платье Ночная Жизнь XXXL   8999      RUR
5           86                     Носки Простые, муж     45      RUR
6           91                     Носки Честные, муж     50      RUR
7          103                  Носки Подарочные, муж    199      RUR
8          104                  Носки Подарочные, жен    249      RUR
9          124                   Носки беговые Camino    999      RUR
10         137              Гольфы детские Снегурочка     99      RUR
11         138               Гольфы детские Питер Пен     99      RUR
12         139                       Сумка для носков    500      RUR
13         140  Товар, которому не придумано название      1      RUR

In [99]:
orders_products = orders.merge(
    products,
    how = 'left',
    left_on = 'ID товара',
    right_on= 'Product_ID',
)
display(orders_products)

# 8.9
# Какой идентификатор (Order ID) имеет заказ, для которого не оказалось информации о товаре?
# 0

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
0,09.11.2019 21:55:51,9,10,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
1,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,86,100,86.0,"Носки Простые, муж",45.0,RUR
2,09.11.2019 15:05:57,8,9,"Принят, ожидается оплата",Нет,Нет,Нет,104,10,104.0,"Носки Подарочные, жен",249.0,RUR
3,09.11.2019 12:50:07,7,8,"Принят, ожидается оплата",Нет,Нет,Нет,104,7,104.0,"Носки Подарочные, жен",249.0,RUR
4,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,104,5,104.0,"Носки Подарочные, жен",249.0,RUR
5,09.11.2019 12:00:00,6,1,"Принят, ожидается оплата",Нет,Нет,Нет,103,5,103.0,"Носки Подарочные, муж",199.0,RUR
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR
7,08.11.2019 08:36:22,4,9,"Принят, ожидается оплата",Нет,Нет,Да,91,1,91.0,"Носки Честные, муж",50.0,RUR
8,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,103,3,103.0,"Носки Подарочные, муж",199.0,RUR
9,08.11.2019 08:36:22,3,8,"Оплачен, формируется к отправке",Да,Нет,Нет,104,3,104.0,"Носки Подарочные, жен",249.0,RUR
10,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,74,1,74.0,Платье Ночная Жизнь XXXL,8999.0,RUR
11,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,53,1,53.0,Штаны Цветочная Поляна,4999.0,RUR
12,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,137,1,137.0,Гольфы детские Снегурочка,99.0,RUR
13,08.11.2019 08:36:21,2,7,Выполнен,Да,Нет,Да,47,1,47.0,Шатны Полосатый рейс,2999.0,RUR
14,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,71,1,71.0,Платье Ночная Жизнь,7999.0,RUR
15,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,86,1,86.0,"Носки Простые, муж",45.0,RUR
16,08.11.2019 08:36:20,1,5,"Оплачен, формируется к отправке",Да,Нет,Нет,51,1,51.0,Платье Аленький цветочек,4999.0,RUR
17,01.01.2001 00:00:00,0,1,"Оплачен, формируется к отправке",Да,Нет,Нет,666,1,NaN,NaN,NaN,NaN

In [100]:
# 8.9
# На какой товар была произведена отмена?
# В качестве ответа запишите название этого товара (Name).

mask = orders_products['Отменен'] == 'Да'
display(orders_products[mask])

# Носки беговые Camino

,Дата создания,Order ID,ID Покупателя,Статус,Оплачен,Отменен,Отгружен,ID товара,Количество,Product_ID,Name,Price,CURRENCY
6,08.11.2019 08:36:22,5,5,Отменён,Нет,Да,Нет,124,1,124.0,Носки беговые Camino,999.0,RUR

In [118]:
# 8.10
# Какой покупатель принёс наибольшую суммарную прибыль интернет-магазину за указанный период?
# В ответ запишите идентификатор этого покупателя (ID Покупателя).
# Прибыль состоит только из оплаченных заказов и рассчитывается как количество купленного товара, 
# умноженное на его цену.

mask = orders_products['Оплачен'] == 'Да'
payed_orders = orders_products[mask]
payed_orders['total'] = payed_orders['Количество'] * payed_orders['Price']
payed_orders.groupby('ID Покупателя')['total'].sum().sort_values()

/var/folders/tp/mcxy8wd524b65_m2_4n493dh0000gn/T/ipykernel_1330/1849678520.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  payed_orders['total'] = payed_orders['Количество'] * payed_orders['Price']

ID Покупателя
1        0.0
8     1344.0
5    13043.0
7    17096.0
Name: total, dtype: float64